
.stock{
    display: block;
    clear:both
}

.category{
    font-family: 'Times New Roman', Times, serif;
    color: white;
}
.headline{
    font-family: sans-serif;
    font-size: large;
    color: white;

}
.paragraph{
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    color: white;

}
.ArticlesHeader{
    background-color: #3c00a0;
}
.ArticleData{
    background-color: black;
}
.urls{
    color: white;
}