.containerArticles{
    
   
}
.articles_list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.category{
    font-family: 'Times New Roman', Times, serif;
    color: white;
}
.headline{
    font-family: sans-serif;
    font-size: large;
    color: white;

}
.paragraph{
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    color: white;

}
