.container-features{
    height:1000px;
    background: linear-gradient(rgba(0,0,50,0.8), rgba(0,0,50,0.8)), url(login_background.png) no-repeat center center fixed;
    background-position: center;
    background-size: cover;
    position: relative;
    justify-content: space-evenly;
    align-items: center; 
    display: flex;
}
img {
    border: 1px solid #ddd;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    padding: 5px;
    width: 300px;
  }
  
  img:hover {
    box-shadow: 0 0 2px 4px rgba(186, 0, 68, 0.5);
  }