.container-features{
    height:1000px;
    background: url(black-wood.png) no-repeat center center fixed;
    background-position: center;
    background-size: cover;
    position: relative;
    justify-content: center;
    align-items: center; 
}
img {
    margin-top: 200px;
    border: 1px solid #ddd;
    margin-left: 100px;
    align-items: center;
    border-radius: 4px;
    padding: 5px;
    width: 300px;
  }
  
  img:hover {
    box-shadow: 0 0 2px 4px rgba(186, 0, 68, 0.5);
  }