
.containerNews{
    margin-top: 100px;
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 3fr 1fr 1.15fr;
    grid-template-areas:
    "articles  articles eps "
    "articles articles eps "
}

#articles {
    grid-area: articles;
}
#eps{
    grid-area: eps;
    border-left: 5px white solid;
    border-top: 5px white solid;
    border-bottom: 5px white solid;
}
