.center {
    width: 500px;
    height: 500px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

}

input[type="email"] {
    text-transform: lowercase;
}

h1 { color: #fff; }

span { 
    color: #fff; 
    list-style-type: none; 
    text-decoration: none;
}

.login-link { 
    padding-left: 5px;
    color: #fff;
    text-decoration: none;
    list-style-type: none;
}

.login-link:hover {
    background: transparent;
    color: #C32865;

}

button {
    background: #C32865;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: all .50s ease;
    color: white;
}

button:hover {
    border: 2px solid #C32865;
    background: transparent;
    color: white;
}

.auth{
    width: 90%;
    max-width: 400px;
    border: 1px solid #dcdcdc;
    padding: 20px;
    text-align: center;
  }
  
  .auth form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 0 auto 10px auto;
  }
  
  .auth__success{
    padding: 10px 0;
    background-color: hsl(147, 79%, 87%);
    margin-bottom: 20px;
  }
  
  .auth__error{
    padding: 10px 0;
    background-color: hsl(0, 79%, 87%);
    margin-bottom: 20px;
  }
  
  .auth form > input, button{
    height: 40px;
    font-size: 16px;
    padding: 0 10px;
  }