.remove-btn {
    width: 80px;
    height: 60px;
    border-radius: 20%;
    justify-content: center;
    background-color: #C32865;
    align-items: center;
    transition: 04.s;
    color: white;
    margin-left: 10px;
}